.skeleton-animate {
  background: linear-gradient(90deg, #eeeeee 25%, #e0e0e0 37%, #eeeeee 63%);
  background-size: 400% 100%;
  animation: shimmer 5s linear infinite;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.skeleton-card {
  min-height: 320px;
  display: flex;
  flex-direction: column;
}

.skeleton-img-wrapper {
  position: relative;
  overflow: hidden;
}

.skeleton-img {
  width: 100%;
  height: 200px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.skeleton-category {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  // padding: 0.25rem 0.6rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  color: transparent;
  width: 80px;
  height: 22px;
}

.skeleton-line {
  height: 16px;
  border-radius: 4px;
}

.skeleton-price {
  width: 60px;
  height: 16px;
  border-radius: 4px;
  margin-left: 0.75rem;
}

.skeleton-btn {
  height: 40px;
  width: 100%;
  border: 0;
  display: block;
  // pointer-events: none;
  color: transparent;
}

.skeleton-btn.gray {
  background: #e9ecef;
}

.skeleton-btn.black {
  background: #212529;
}

.skeleton-btn + .skeleton-btn {
  margin-top: 0.5rem;
}